.Teams{
    border-radius: 20px;
    background: #000;
}
.team-color span{
    color: #f35444;
}
.swiper {
    width: 100%;
    height: 100%;
    cursor:grab;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .mySwiper{
    width: 90%;
  }
  .mySwiper img{
    width: 100%;
  }
  .swipe{
    width: 100%;
    position: relative;
}
.swipe-swiper{
  width: 100%;
  height: auto;
}
.swipe:hover{
    .swipe-swipe{
        transition: all .3s ease-in-out;
        display: block;
        cursor: pointer;
    }
  }

  @media (max-width:700px) {
    .mySwiper{
      width: 100%;
    }
  }
  @media (max-width:640px) {
    .mySwiper{
      width: 90%;
    }
  }